*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("/img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: stretch;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.sec1{
    width: 600px;
    height: 400px;
    margin-left: -90px;

    background-image: url("/img/CDRRMO_KOR.png"); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.sec2{
    margin-left: 50px;
}
.header{
    margin: 20px 0px 20px;
    padding: 5px;
    text-align: center;
    background-image: linear-gradient(to right, rgb(38, 86, 241), rgb(137, 218, 250));
    border-radius: 20px;
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1{
    font-weight: bold;
    color: white;
}

.cardlogin{
    width: 350px;
    height: auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 3px solid blue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
}
label{
    margin-top: 10px;
    font-family:'Arial';
    font-weight: bold;
}
input{
    border: none;
    border-bottom: 3px solid black;
    background-color: transparent;
    width: 100%;
    outline: none;
    padding: 5px;
    font-family: 'Lucida Sans',sans-serif; 
}
input:focus{
    border-color: #fff;
    transition: ease-in .2s;
}
input:active{
    border-color: #fff;
    transition: ease-in .2s;
}
/* input::selection{
    background:transparent;
} */
button{
    border: none;
    margin-top: 30px;
    padding:10px;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid  rgb(30, 75, 255);
    background-color: rgb(30, 75, 255);
    transition: ease-in .2s;
    color: white;
}
button:hover{
    background-color: white;
    border: 2px solid  rgb(30, 75, 255);
    padding: 10px;
    color:  rgb(30, 75, 255);
    transition: ease-in .2s;
}
p{
    text-align: center;
    padding: 10px 0px 0px;
}